{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">

    <div class="global">

        <!--content-->

        <div class="container">

            <div class="row">

                <article class="span12">

                    {{zone('main')|raw}}                    
                    {{widget('space', 'space', {'height': '30'})|raw}}

                    {{widget('content', 'title1', {content: '<h2>resume</h2>', lines: 'all'})|raw}}

                    <div class="row">
                        <article class="span6">
                            {{widget('content', 'text1', {content: '<div class="resume"><ul class="list"><li><span>Location</span>India</li><li><span>Situation</span>Available</li><li><span>Spoken languages</span>English</li><li><span>Minimum rate</span>42.00 $/day</li><li><span>Last update</span>25-Jun-2013</li></ul><ul class="list"><li><strong>Skills:</strong></li><li><span>Java</span>since 2004, highly skilled</li><li><span>C/C++</span>since 2005, infrequent use</li><li><span>(x)HTML & CSS</span>experience since 2003, daily use</li><li><span>Photoshop</span>experience since 2005, daily use</li><li><span>Illustrator</span>usage since 2007, good skills</li></ul></div>', lines: 'all'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}
                        </article>
                        <article class="span6">
                            {{widget('content', 'text2', {content: '<strong>Professional experience</strong><ul class="list"><li><span>Vivamus eget nibh.</span></li><li>April 2010 — October 2013</li><li>Internship Graphic Designer — Porto, PT</li></ul><ul class="list"><li><span>Donec eget tellus non erat.</span></li><li>December 2008 — April 2010</li><li>Internship Graphic Designer — Porto, PT</li></ul><ul class="list"><li><span>Donec sagittis euismod.</span></li><li>March 2007 — November 2008</li><li>Internship Graphic Designer — Porto, PT</li></ul>', lines: 'all'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}
                        </article>
                    </div>

                </article>

            </div>

        </div>        

        <!--header-->
        <header>

            <div class="header">

                <div class="container">

                    <div class="row">

                        <article class="span3">

                            {{widget('logo', 'name', {"defaultlogo": asset('images/logo.png')})|raw}}
                            {{widget('profile', 'companydescription', { 'profileType':'companydescription', 'companydescription':'my personal site'})|raw}}

                        </article>

                        <article class="span9">
                            
                            {{widget('navigation', 'navigation', {'align': 'left'})|raw}}

                        </article>

                    </div>

                </div>

            </div>

        </header>

    </div>

    <!--footer-->
    <footer>

        <div class="container">

            <div class="row">

                <section class="span12">

                    <div class="row">

                        <article class="span8">

                            {{widget('companyname', 'companyname', {"business": "sushi bar"})|raw}}
                            {{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'profile', 'refreshtime':'1800000'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                        <article class="span4">

                            {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com', 'linkedin':'http://www.linkedin.com', 'facebook': 'https://www.facebook.com', 'twitter': 'https://twitter.com', 'youtube': 'https://www.youtube.com', 'rss': '#'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                    </div>

                </section>

            </div>

        </div>

    </footer>
    
</div>

{% endblock %}