{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">

    <div class="global">

        <!--content-->

        <div class="container">

            <div class="row">

                <article class="span12">

                    {{zone('main')|raw}}

                    {{widget('space', 'space', {'height': '30'})|raw}}

                    <div class="row info">

                        <article class="span8">

                            {{widget('content', 'title1', {content: '<h2>Julia Smitti</h2>', lines: 'all'})|raw}}

                            <figure class="left">{{widget('image', 'image', { 'src': asset('images/page1-img1.jpg'), 'imageWidth': '132px'})|raw}}</figure>

                            <div class="overflow">

                                {{widget('content', 'content', {content: '<p><strong>I like to make cool and creative designs. My design stash is always full of refreshing ideas.</strong></p>', lines: 'all'})|raw}}

                                <div class="address">
                                    <div class="col-name">{{widget('content', 'nametext', {content: 'Name', lines: 'all'})|raw}}</div>
                                    {{widget('companyname', 'companyname', {"business": "Julia Smitti"})|raw}}
                                    <div class="clear"></div>
                                    <div class="col-name">{{widget('content', 'addresstext', {content: 'Address', lines: 'all'})|raw}}</div>
                                    {{widget('profile', 'address', { 'profileType':'address', 'address':'profile'})|raw}}
                                    <div class="clear"></div>
                                    <div class="col-name">{{widget('content', 'emailtext', {content: 'Email', lines: 'all'})|raw}}</div>
                                    {{widget('profile', 'email', { 'profileType':'email', 'email':'smitti@gmail.com'})|raw}}
                                    <div class="clear"></div>
                                    <div class="col-name">{{widget('content', 'phonetext', {content: 'Phone', lines: 'all'})|raw}}</div>
                                    {{widget('profile', 'phone', { 'profileType':'phone', 'phone':'+123 456 789 111'})|raw}}
                                    <div class="clear"></div>
                                </div>

                            </div>

                            {{widget('space', 'space', {'height': '30'})|raw}}

                            <div class="row clear">
                                <article class="span2">
                                    {{widget('content', 'list1', {content: '<ul class="list"><li><a href="#">Logo Design</a></li><li><a href="#">Brand Guide</a></li><li><a href="#">Package Design</a></li><li><a href="#">Poster Design</a></li></ul>', lines: 'all'})|raw}}
                                    {{widget('space', 'space', {'height': '30'})|raw}}
                                </article>
                                <article class="span2">
                                    {{widget('content', 'list2', {content: '<ul class="list"><li><a href="#">Web Design</a></li><li><a href="#">Web Advertising</a></li><li><a href="#">Flyer Design</a></li><li><a href="#">Advertising</a></li></ul>', lines: 'all'})|raw}}
                                    {{widget('space', 'space', {'height': '30'})|raw}}
                                </article>
                                <article class="span2">
                                    {{widget('content', 'list3', {content: '<ul class="list"><li><a href="#">Icon Design</a></li><li><a href="#">Illustration</a></li><li><a href="#">Photography</a></li><li><a href="#">Seo</a></li></ul>', lines: 'all'})|raw}}
                                    {{widget('space', 'space', {'height': '30'})|raw}}
                                </article>
                            </div>

                        </article>

                        <article class="span4">

                            {{widget('content', 'title2', {content: '<h2>latest works</h2>', lines: 'all'})|raw}}

                            <div class="row">
                                <article class="span2">
                                    {{widget('image', 'image1', { 'src': asset('images/image1.jpg'), 'imageWidth': '170px'})|raw}}
                                    {{widget('image', 'image2', { 'src': asset('images/image2.jpg'), 'imageWidth': '170px'})|raw}}
                                    {{widget('space', 'space', {'height': '30'})|raw}}
                                </article>
                                <article class="span2">
                                    {{widget('image', 'image3', { 'src': asset('images/image3.jpg'), 'imageWidth': '170px'})|raw}}
                                    {{widget('image', 'image4', { 'src': asset('images/image4.jpg'), 'imageWidth': '170px'})|raw}}
                                    {{widget('space', 'space', {'height': '30'})|raw}}
                                </article>
                            </div>

                        </article>

                    </div>

                </article>

            </div>

        </div>        

        <!--header-->
        <header>

            <div class="header">

                <div class="container">

                    <div class="row">

                        <article class="span3">

                            {{widget('logo', 'name', {"defaultlogo": asset('images/logo.png')})|raw}}
                            {{widget('profile', 'companydescription', { 'profileType':'companydescription', 'companydescription':'profile', 'refreshtime':'1800000'})|raw}}

                        </article>

                        <article class="span9">
                            
                            {{widget('navigation', 'navigation', {'align': 'left'})|raw}}

                        </article>

                    </div>

                </div>

            </div>

        </header>

    </div>

    <!--footer-->
    <footer>

        <div class="container">

            <div class="row">

                <section class="span12">

                    <div class="row">

                        <article class="span8">

                            {{widget('companyname', 'companyname', {"business": "sushi bar"})|raw}}
                            {{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'profile', 'refreshtime':'1800000'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                        <article class="span4">

                            {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com', 'linkedin':'http://www.linkedin.com', 'facebook': 'https://www.facebook.com', 'twitter': 'https://twitter.com', 'youtube': 'https://www.youtube.com', 'rss': '#'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                    </div>

                </section>

            </div>

        </div>

    </footer>
    
</div>

{% endblock %}